# udev rules for setting correct configuration and pairing on tethered iPhones
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="05ac", DRIVER=="ipheth", RUN+="/lib/udev/ipheth-pair"
